Package: com.jerryen.fastblurrednotificationcenter7
Name: FastBlurredNotificationCenter7
Version: 0.3
Architecture: iphoneos-arm
Description: FastBlurredNotificationCenter updated for iOS 7
Author: Jerry En <Jerry+fastblurrednotificationcenter@jerryen.com>
Depiction: http://cydia.jerryen.com/fastblurrednotificationcenter7.html
Depends: mobilesubstrate, firmware (>= 7.0)
Section: Tweaks
